# Rajas Vaidya

# MDS202131

# AML Assignment 2

Importing necessary libraries

In [251]:
%matplotlib inline
import matplotlib.pyplot as plt
import csv
from textblob import TextBlob
import pandas
import sklearn
import pickle
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC, LinearSVC
from sklearn.metrics import classification_report, f1_score, accuracy_score, confusion_matrix
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold, cross_val_score, train_test_split 
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import learning_curve
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

Loading the data

In [215]:
raw_data = pandas.read_csv('smsspamCollection', sep='\t', quoting=csv.QUOTE_NONE,
                           names=["Label", "Text"])
raw_data.to_csv('raw_data.csv',index=False) 

raw_data.head()

  Label                                               Text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [216]:
#seeing the distribution of the data 
raw_data.groupby('Label').describe()

       Text
      count unique                                                top freq
Label
ham    4827   4518                             Sorry, I'll call later   30
spam    747    653  Please call our customer service representativ...    4

In [217]:
raw_data.loc[raw_data.Label == 'spam', 'Label'] = 1
raw_data.loc[raw_data.Label == 'ham', 'Label'] = 0
raw_data.head()

  Label                                               Text
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

Train test split with random state 36

In [218]:
X_train, X_test, y_train, y_test = train_test_split(raw_data.Text, raw_data['Label'], test_size=0.15, random_state=36)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=36)

In [219]:
## checking the data profile with seed 36
print("Train set - number of 0s:", sum(y_train == 0), "number of 1s:", sum(y_train == 1))
print("Validation set - number of 0s:", sum(y_val == 0), "number of 1s:", sum(y_val== 1))
print("Test set - number of 0s:", sum(y_test== 0), "number of 1s:", sum(y_test== 1))

Train set - number of 0s: 3508 number of 1s: 518
Validation set - number of 0s: 607 number of 1s: 104
Test set - number of 0s: 712 number of 1s: 125

In [221]:
df_train = pd.DataFrame(list(zip(X_train,y_train)),columns=["Text",'Label'])
df_test = pd.DataFrame(list(zip(X_test,y_test)),columns=["Text",'Label'])
df_val = pd.DataFrame(list(zip(X_val,y_val)),columns=["Text",'Label'])
df_val.to_csv('Data\\Validation.csv',index=False) 
df_test.to_csv('Data\\test.csv',index=False) 
df_train.to_csv('Data\\train.csv',index=False)

In [166]:
#!pip install dvc

In [222]:
#! git init
#! dvc init -f

Reinitialized existing Git repository in C:/Users/rajas/OneDrive/Documents/AML/AML_rajasvaidya/AML_assignment_2/.git/
Initialized DVC repository.

You can now commit the changes to git.

+---------------------------------------------------------------------+
|                                                                     |
|        DVC has enabled anonymous aggregate usage analytics.         |
|     Read the analytics documentation (and how to opt-out) here:     |
|             <https://dvc.org/doc/user-guide/analytics>              |
|                                                                     |
+---------------------------------------------------------------------+

What's next?
------------
- Check out the documentation: <https://dvc.org/doc>
- Get help and share ideas: <https://dvc.org/chat>
- Star us on GitHub: <https://github.com/iterative/dvc>

In [223]:
! dvc add Data
! git add Data.dvc
! git commit -m "Tracking Data"

To track the changes with git, run:

	git add .gitignore Data.dvc

To enable auto staging, run:

	dvc config core.autostage true
[main f9ab655] Tracking Data
 1 file changed, 5 insertions(+)
 create mode 100644 Data.dvc

In [226]:
! dvc remote add -d storage gdrive://1IJKc-SH23mgfcxNwO94ZBqfnkP9HwIKe
! dvc remote list
! dvc push

1 file pushed

Doing train test split with random state 37

In [232]:
X_train, X_test, y_train, y_test = train_test_split(raw_data.Text, raw_data['Label'], test_size=0.15, random_state=37)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.15, random_state=37)

In [233]:
## checking the data profile with seed 37
print("Train set - number of 0s:", sum(y_train == 0), "number of 1s:", sum(y_train == 1))
print("Validation set - number of 0s:", sum(y_val == 0), "number of 1s:", sum(y_val== 1))
print("Test set - number of 0s:", sum(y_test== 0), "number of 1s:", sum(y_test== 1))

Train set - number of 0s: 3499 number of 1s: 527
Validation set - number of 0s: 614 number of 1s: 97
Test set - number of 0s: 714 number of 1s: 123

In [230]:
df_train = pd.DataFrame(list(zip(X_train,y_train)),columns=["Text",'Label'])
df_test = pd.DataFrame(list(zip(X_test,y_test)),columns=["Text",'Label'])
df_val = pd.DataFrame(list(zip(X_val,y_val)),columns=["Text",'Label'])
df_val.to_csv('Data/Validation.csv',index=False) 
df_test.to_csv('Data/test.csv',index=False) 
df_train.to_csv('Data/train.csv',index=False)

In [237]:
#! dvc add Data
#! git add Data.dvc
#! git commit -m "Seed Changes"
! dvc push

4 files pushed

In [239]:
#! git log --oneline
!git log

commit d0f909c0564aeb69d719ba46d7db472a39a8edc3
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:47:24 2023 +0530

    Seed Changes

commit f9ab6555a014f8ae515677c610ab019a834256b5
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:39:53 2023 +0530

    Tracking Data

commit b9b7a9c12dc94e4d248c495fb8e23e257bb39d0e
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:23:15 2023 +0530

    Seed Changes

commit c8eaea88661998ad755a866709b4b0a9cae9ca8f
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:21:18 2023 +0530

    Tracking Data

commit 3b03de3e9547402887925ce04cdbd71b19b49840
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:20:51 2023 +0530

    Tracking Data

commit 1a61c3023d8930349705ebb12191588f0a2cbd20
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 22:59:32 2023 +0530

    Tracking Data

commit 926ea0f6e85e69619d008615ce321e841f0fb49c
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 22:38:47 2023 +0530

    Seed Changes

commit df49aaf1292a356e6041778786428b38d4302133
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 22:19:41 2023 +0530

    Seed Changes

commit 048eeb024d2a90c89f99874288506a94d9650403
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 21:27:02 2023 +0530

    Tracking Data

In [242]:
#! git checkout f9ab6555a014f8ae515677c610ab019a834256b5 Data.dvc     
! dvc checkout -f

M       Data\

ERROR: Checkout failed for following targets:
C:\Users\rajas\OneDrive\Documents\AML\AML_rajasvaidya\AML_assignment_2\smsspamcollection
Is your cache up to date?
<https://error.dvc.org/missing-files>

In [243]:
train = pd.read_csv('Data/train.csv')
val = pd.read_csv('Data/Validation.csv')
test = pd.read_csv('Data/test.csv')

Checking the data profile before update

In [244]:
print("Train set - number of 0s:", sum(train['Label'] == 0), "number of 1s:", sum(train['Label'] == 1))
print("Validation set - number of 0s:", sum(val['Label'] == 0), "number of 1s:", sum(val['Label'] == 1))
print("Test set - number of 0s:", sum(test['Label'] == 0), "number of 1s:", sum(test['Label'] == 1))

Train set - number of 0s: 3508 number of 1s: 518
Validation set - number of 0s: 607 number of 1s: 104
Test set - number of 0s: 712 number of 1s: 125

In [245]:
!git log

commit d0f909c0564aeb69d719ba46d7db472a39a8edc3
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:47:24 2023 +0530

    Seed Changes

commit f9ab6555a014f8ae515677c610ab019a834256b5
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:39:53 2023 +0530

    Tracking Data

commit b9b7a9c12dc94e4d248c495fb8e23e257bb39d0e
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:23:15 2023 +0530

    Seed Changes

commit c8eaea88661998ad755a866709b4b0a9cae9ca8f
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:21:18 2023 +0530

    Tracking Data

commit 3b03de3e9547402887925ce04cdbd71b19b49840
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 23:20:51 2023 +0530

    Tracking Data

commit 1a61c3023d8930349705ebb12191588f0a2cbd20
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 22:59:32 2023 +0530

    Tracking Data

commit 926ea0f6e85e69619d008615ce321e841f0fb49c
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 22:38:47 2023 +0530

    Seed Changes

commit df49aaf1292a356e6041778786428b38d4302133
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 22:19:41 2023 +0530

    Seed Changes

commit 048eeb024d2a90c89f99874288506a94d9650403
Author: Rajas Vaidya <rajasvaidya18@gmail.com>
Date:   Mon Feb 27 21:27:02 2023 +0530

    Tracking Data

In [247]:
#! git checkout d0f909c0564aeb69d719ba46d7db472a39a8edc3 Data.dvc     
! dvc checkout

M       Data\

ERROR: Checkout failed for following targets:
C:\Users\rajas\OneDrive\Documents\AML\AML_rajasvaidya\AML_assignment_2\smsspamcollection
Is your cache up to date?
<https://error.dvc.org/missing-files>

In [248]:
train = pd.read_csv('Data/train.csv')
val = pd.read_csv('Data/Validation.csv')
test = pd.read_csv('Data/test.csv')

Checking the data profile after update

In [249]:
print("Train set - number of 0s:", sum(train['Label'] == 0), "number of 1s:", sum(train['Label'] == 1))
print("Validation set - number of 0s:", sum(val['Label'] == 0), "number of 1s:", sum(val['Label'] == 1))
print("Test set - number of 0s:", sum(test['Label'] == 0), "number of 1s:", sum(test['Label'] == 1))

Train set - number of 0s: 3499 number of 1s: 527
Validation set - number of 0s: 614 number of 1s: 97
Test set - number of 0s: 714 number of 1s: 123